@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open_Sans";
  src: url(./fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open_Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
